{
  "singleQuote": true,
  "semi": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "arrowParens": "always",
  "printWidth": 80,
  "bracketSpacing": true,
  "jsxSingleQuote": false,
  "endOfLine": "lf",
  "proseWrap": "preserve",
  "jsxBracketSameLine": false
}
